#container{ /* wyœrodkowanie wszystkiego */
    margin: 0 auto;
    width: 1100px;
}
#container h1{ /* tytu³ */
    color: red;
    text-shadow: 2px 2px 0 #493854;
}

#glowny{ /* po³o¿enie od lewej */
    float: left;
}
ul li{
    list-style: none;
}

#roport{
    background-color: white;
    height: 100px;
    overflow: auto;
    width: 350px;
}

#wyniki{
    background-color: white;
    float: right;
    width: 398px;
    margin-top: 5px;
    height: 350px;
    overflow: auto;
}

.nombre {
    font-size: 26px;
}
.gracz{
    color: green;
}
.innyGracz{
    color: red;
}
